/* .container-fluid{
    max-width: auto; -> não possui margem e se extende pela página inteira
}*/

.container{
    max-width: 98rem;
    margin: 0 auto; /*Zera as margens superiores e distribui igualmente o valor das margens laterais -> centraliza*/
}

.content{
    margin: 3.2rem;
}